@charset "utf-8";
$title-color: #ff0000;
@import "~bulma/bulma.sass";

$primary-color: rgb(28, 52, 77);
$second-color: rgb(128, 137, 179);

body {
    color: $primary-color;
    background-color: $second-color;
}