@charset "utf-8";
@import "~bulma/bulma.sass";
@import "variables.scss";

.header {
    color: $primary-color;
    background-color: $second-color;
    width: 100vw;
    height: 100vh;
}

.p {
    &t {
        &-7 {
            padding-top:$is-7;
        }
        &-8 {
            padding-top:$is-8;
        }
        &-9 {
            padding-top:$is-9;
        }
        &-10 {
            padding-top:$is-10;
        }
    }
}

