@charset "utf-8";
@import "~bulma/bulma.sass";
@import "variables.scss";
@import "./components/buttons.scss";
@import "./components/nav-bar.scss";
@import "./components/header.scss";

.header {
    color: $primary-color;
    background-color: $second-color;
    width: 100vw;
    height: 100vh;

    &__subtitle {
        margin: 0 auto;
        max-width: 50%;
    }
}

.p {
    &t {
        &-7 {
            padding-top:$is-7;
        }
        &-8 {
            padding-top:$is-8;
        }
        &-9 {
            padding-top:$is-9;
        }
        &-10 {
            padding-top:$is-10;
        }
    }
}

.is-size-{
    
    &4rem {
        font-size: $is-8
    }
    &5rem {
        font-size: $is-10
    }
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

.center-absolute {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 85vh;
    width: 80%;
    left: 0;
    right: 0;
    text-align: center;
}


